@media screen and (max-width: 1024px) {

    .inner-content {
        display: block;
    }

    .about img {
        display: block;
        float: left;
    }
    
    .about span {
        text-align: justify;
    }

    .box h3{
        height: 44px;
    }

    .content {
        width: 98%;
    }
    .center-space {
        width: 2%;
    }

    header img {
        max-height: 50px;
    }

}

@media screen and (max-width: 1440px) {

    :root {
        --h1: 250%;
        --h2: 200%;
        --h3: 150%;
        --p-main: 120%;
        --p-secondary: 120%;
        --p-third: 100%;
    }
}