:root {
    --dark-green: #02786a;
    --dark-green-hover: #29a899;
    --light-green: #d0fbf6;
    --very-light-green: #ebfbfa;
    --h1: 450%;
    --h2: 400%;
    --h3: 300%;
    --p-main: 150%;
    --p-secondary: 50%;
    --p-third: 50%;
    --a: 150%;
}

* {
    box-sizing: border-box;
}
html,body {
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 100%;
    font-family: 'Trebuchet MS'; 
}

html {
    overflow-x: hidden;
    background-color: var(--light-green);
}

h1 {
    color: var(--dark-green);
    margin: 10vw;
    font-size: var(--h1);
}

h2 {
    color: var(--dark-green);
    font-size: var(--h2);
}

h3 {
    text-align: center;
    font-size: var(--h3);
}

p, a {
    font-size: var(--p-main);
}

.contact a {
    font-size: var(--p-third);
}

.contact h3 {
    color: var(--dark-green);
}

label, input, textarea {
    font-size: var(--p-main);
}

.main-section {
    padding-top: 10vw;
}

.banner {
    padding: 0;
    margin: 0;
    color: var(--light-green);
    background-color: var(--dark-green);
}

.banner p {
    margin: 0;
}

.main-section-background {
    background-color: var(--light-green);
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

/* .main-background-layer {
    background-color: rgb(208,251,246, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.main-section img {
    width: 100%;
}

.content {
    width: 75%;
    margin: auto;
    text-align: center;
    background-color: transparent;
}

.content img {
    width: 10vw;
}

.first-section {
    background-color:var(--light-green);
    padding: 0;
    margin: 0;
    bottom: 0;
}

.second-section {
    background-color: var(--light-green);
}

.forth-section {
    overflow:hidden;
    background-color: var(--light-green);
}

.hide {
    display: none;
}

.box {
    border-radius: 20px;
    margin: 2%;
    display: inline-block;
    padding: 4%;
    vertical-align: top;
}

.size-small {
    width: 28%;
    max-width: 450px;
}

.size-small p {
    height: 40px;
}

.size-medium {
    width: 45%;
    max-width: 600px;
}

.size-long {
    width: 96%;
    max-width:1800px;
    text-align: start;
}

.inner-box {
    display: flex;
    align-items: center;
}

.size-long p {
    margin-left: 10%;
}

.size-medium p {
    min-height: 40px;
}

.contact, .about{
    background-color: var(--light-green);
}

.contact p, .contact a{
    color: var(--dark-green);
    padding: 10px;
}

.about h2 {
    text-align: left; 
    padding-left: 3%;
}

.contact h2 {
    margin-top: 0;
}

.contact img {
    width: 8vw;
    max-width: 200px;
}

.contact-content-align-left {
    width: 47.5%;
    height: 379px;
}

.contact-content-align-right {
    width: 47.5%;
}

.contact-center-space {
    width: 5%;
}

.contact-text {
    display: flex;
    align-items: center;
}

.align-text-start {
    text-align: start;
}

.align-text-end {
    text-align: end;
}

.top-margin {
    margin-top: 2vw;
}

.align-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.about p {
    color: var(--dark-green);
    text-align:justify;
}

.about img {
    width: 70vw;
    max-width: 400px;
    min-width: 150px;
    display: flex;
    margin-right: 2vw;
    margin-bottom: 2vw;
    object-fit: contain;
    align-self: start;
}

.about span {
    flex: 1 1 auto;
}

.inner-content {
    margin: 3%;
    min-height: 420px;
    display: flex;
}

.about .content-align-right {
    width: 80%;
    padding-top: 1.5em;
}

.content-wrapper {
    height: 18vw;
}

.fill {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: var(--dark-green);
    top: -20px
}

.bullet-point {
    display:list-item;
    list-style-type:disc; 
    list-style-position:inside;
}

.bright-green {
    background-color: rgb(41, 168, 68, 0.7);
}

.blue-green {
    background-color: rgb(41, 168, 153, 0.7);
}

.blue {
    background-color: rgb(41, 98, 168 , 0.7);
}

.mustard {
    background-color: rgb(168, 153, 41 , 0.7);
}

.ugly-green {
    background-color: rgb(98, 168, 41 , 0.7);
}

.purple {
    background-color: rgb(68, 41, 168 , 0.7);
}

.pink {
    background-color: rgb(153, 41, 168 , 0.7);
}

.button {
    padding: 10px;
    max-width: 80px;
    background-color: var(--dark-green);
    border-radius: 40px;
    color: #fff;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin:auto;
  }




footer {
    margin: 0;
    padding-bottom: 100px;
    background-color: var(--dark-green);
}

footer .content {
    width: 100%;
    padding: 0 2%;
}

footer h4 {
    margin: 0;
    text-align: left;
    color: #fff;
}

footer p {
    display: inline-block;
    text-align: left;
    color: #fff;
}

footer a {
    color: #fff;
}

.column{
    float: left;
    width: 50%;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.footer-text-left {
    float: left;
}

.footer-text-right {
    float: right;
}

.footer-seperate-content {
    display: table;
    width: 100%;
    table-layout: fixed;
    max-width: 1600px;
    margin: 2% auto;
}

.footer-menu{
    display: table-cell;
    width: 30%;
    max-width: 400px;
}

.cell-fill {
    width: auto;
    display: table-cell;
}

.footer-links {
    display: table-cell;
    min-width:190px;
    width: 300px;
    position: relative;
    top: 30px;
}

.footer-about {
    display: table-cell;
    width: 30%;
    max-width: 400px;
}

.footer-menu h4{
    margin-bottom: 4%;
    max-width: 400px;
}

.fa {
    padding: 20px;
    width: 80px;
    font-size: large;
    text-align: center;
    text-decoration: none;
    margin: 30px 5px;
    border-radius: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.seperate-content {
    display: flex;
}

label {
    float: left;
    padding-left: 10px;
    color: var(--dark-green);
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 20px;
}

button {
    background-color: var(--dark-green);
    color: var(--light-green);
    padding: 12px 20px;
    border-color: transparent;
    cursor: pointer;
    border-radius: 20px;
    float: left;
}

button[type=submit]:hover * {
    color: var(--dark-green);
}

button[type=button]:hover * {
    color: var(--dark-green);
}

button[type=submit] p, button[type=button] p {
    padding: 0;
    margin: 0;
    color: var(--light-green);
}

button[type=button]:hover, button[type=submit]:hover  {
    color: var(--dark-green);
    background-color: var(--light-green);
    border: 2px solid var(--dark-green)
}

.spinner {
    margin: 0;
    width: 70px;
    text-align: center;
    display: none;
}
  
  .spinner > div {
    width: 10px;
    height: 10px;
    background-color: var(--light-green);
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }  

  