@media screen and (max-width: 1024px) {

    .inner-content {
        display: block;
    }

    .about img {
        display: block;
        float: left;
    }
    
    .about span {
        text-align: justify;
    }

    .box h3{
        height: 44px;
    }

    .content {
        width: 98%;
    }
    .center-space {
        width: 2%;
    }
}