@media screen and (max-width: 1024px) {

    .inner-content {
        display: block;
    }

    .about img {
        display: block;
        float: left;
    }
    
    .about span {
        text-align: justify;
    }
}