:root {
    --dark-green: #02786a;
    --dark-green-hover: #29a899;
    --light-green: #d0fbf6;
    --very-light-green: #ebfbfa;
}

html,body {
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 100%;
    font-family: 'Trebuchet MS'; 
}

html {
    overflow-x: hidden;
    background-color: var(--light-green);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.main-section {
    padding-top: 10vw;
}

.banner {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    color: var(--light-green);
    background-color: var(--dark-green);
}

.banner p {
    margin: 0;
}

.main-header {
    color: var(--dark-green);
    font-size: 4vw;
    margin: 10vw;
}

h2 {
    font-size: 4em;
    color: var(--dark-green);
}

.main-section-background {
    background-color: var(--light-green);
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

/* .main-background-layer {
    background-color: rgb(208,251,246, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.main-section img {
    width: 100%;
}

.content {
    width: 75%;
    margin: auto;
    text-align: center;
    background-color: transparent;
}

.content img {
    width: 10vw;
}

.first-section {
    background-color:var(--light-green);
    padding: 0;
    margin: 0;
    bottom: 0;
}

.second-section {
    background-color: var(--light-green);
}

.forth-section {
    overflow:hidden;
    background-color: var(--light-green);
}

.box {
    border-radius: 20px;
    margin: 2%;
    display: inline-block;
    padding: 4%;
    vertical-align: top;
}

.size-small {
    width: 28%;
    max-width: 450px;
}

.size-small p {
    height: 40px;
}

.size-medium {
    width: 45%;
    max-width: 600px;
}

.size-long {
    width: 96%;
    max-width:1800px;
    font-size: 1.5em;
    text-align: start;
}

.inner-box {
    display: flex;
    align-items: center;
}

.size-long p {
    margin-left: 10%;
}

.size-medium p {
    height: 40px;
}

@media screen and (max-width: 1000px) {
    .box h3{
        height: 44px;
    }
    .content {
        width: 85%;
    }
    .center-space {
        width: 10%;
    }
}

@media screen and (max-width: 900px) {
    .content {
        width: 98%;
    }
    .center-space {
        width: 2%;
    }
}

@media screen and (max-width: 270px) {
    .about img {
        width: 100%;
        position: relative;
    }
}

.contact, .about{
    background-color: var(--light-green);
}

.contact p, .contact a{
    color: var(--dark-green);
    padding: 10px;
    font-size: 1em;
}

.about p {
    color: var(--dark-green);
    text-align:justify;
}

.about img {
    width: 70vw;
    max-width: 310px;
    min-width: 150px;
    display: flex;
    margin-right: 2vw;
    margin-bottom: 2vw;
    object-fit: contain;
    align-self: start;
}

.about span {
    flex: 1 1 auto;
}

.inner-content {
    margin: 3%;
    min-height: 420px;
    display: flex;
}

.about .content-align-right {
    width: 80%;
    padding-top: 1.5em;
}

.content-wrapper {
    height: 18vw;
}

.fill {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: var(--dark-green);
    top: -20px
}

* {
    box-sizing: border-box;
}

.bullet-point {
    display:list-item;
    list-style-type:disc; 
    list-style-position:inside;
}

.bright-green {
    background-color: rgb(41, 168, 68, 0.7);
}

.blue-green {
    background-color: rgb(41, 168, 153, 0.7);
}

.blue {
    background-color: rgb(41, 98, 168 , 0.7);
}

.mustard {
    background-color: rgb(168, 153, 41 , 0.7);
}

.ugly-green {
    background-color: rgb(98, 168, 41 , 0.7);
}

.purple {
    background-color: rgb(68, 41, 168 , 0.7);
}

.pink {
    background-color: rgb(153, 41, 168 , 0.7);
}

.button {
    padding: 10px;
    max-width: 80px;
    background-color: var(--dark-green);
    border-radius: 40px;
    color: #fff;
    text-align: center;
    font-size: small;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin:auto;
  }




footer {
    margin: 0;
    padding-bottom: 50px;
    background-color: var(--dark-green);
}

footer .content {
    position: relative;
    top: -50px;
}

footer h4 {
    margin: 0;
    text-align: left;
    color: #fff;
}

footer p {
    display: inline-block;
    font-size: 1em;
    text-align: left;
    color: #fff;
}

footer a {
    font-size: 1em;
    color: #fff;
}

.column{
    float: left;
    width: 50%;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.footer-about {
    width: 30%;
    margin-right: 6%;
}

.footer-menu{
    width: 50%;
}

.footer-menu h4{
    margin-bottom: 4%;
}


.fa {
    padding: 20px;
    width: 80px;
    font-size: large;
    text-align: center;
    text-decoration: none;
    margin: 30px 5px;
    border-radius: 20px;
  }



  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.seperate-content {
    display: flex;
}

.center-space {
    width: 20%;
}
    
.content-align-left {
    width: 30%;
}

.content-align-right {
    width: 50%;
    font-size: 20px;
}

label {
    float: left;
    padding-left: 10px;
    color: var(--dark-green);
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 20px;
}

button[type=submit] {
    background-color: var(--dark-green);
    color: var(--light-green);
    padding: 12px 20px;
    border-color: transparent;
    cursor: pointer;
    border-radius: 20px;
    float: left;
    font-size: small;
    width: 110px;
}

button[type=submit]:hover * {
    color: var(--dark-green);
    
}

button[type=submit] p{
    padding: 0;
    margin: 0;
    color: var(--light-green);
}


.c-btn {
    background-color: var(--dark-green);
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--light-green);
    margin-top: 40px;
    text-decoration: none;
    font-size: small;
    float: left;
}

.c-btn:hover, button[type=submit]:hover  {
    color: var(--dark-green);
    background-color: var(--light-green);
    border: 2px solid var(--dark-green)
}

.padding-top {
    padding-top: 5%;
}


.spinner {
    margin: 0;
    width: 70px;
    text-align: center;
    display: none;
}
  
  .spinner > div {
    width: 10px;
    height: 10px;
    background-color: var(--light-green);
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }  

  .block {
    opacity: 0;
    transition: opacity .5s .25s ease-out;
  }
  
  .block.is-visible {
    opacity: 1;
  }

  .block {
    transform: translate(-50%, calc(-50% + 1em));
  }

  .animation-arrows  {
    position: relative;
  }

  .animation-arrows span {
    position: absolute;
    top: -70px;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-left: -12px;
    border-left: 2px solid var(--dark-green-hover);
    border-bottom: 2px solid var(--dark-green-hover);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 4s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  .animation-arrows span:nth-of-type(1) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  .animation-arrows span:nth-of-type(2) {
    top: -86px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  .animation-arrows span:nth-of-type(3) {
    top: -102px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  