@media screen and (max-width: 768px) {

    footer {
        padding-bottom: 50px;
    }

    .fa {
        padding: 10px;
        width: 60px;
        margin: 15px 0px 15px 15px;
        border-radius: 10px;
    }

    .footer-about {
        display: none;
    }

    .footer-menu {
        margin: 2%;
        width: 100%;
    }

    .footer-menu h4{
        margin-bottom: 0;
    }

    .seperate-content {
        display: block;
        margin: 8%;
    }

    .contact-content-align-left {
        width: 100%;
        height: auto;
        margin: auto;
    }
    
    .contact-content-align-right {
        width: 100%;
    }
    
    .contact-center-space {
        display: none;
    }

    .align-vertically {
        transform: translateY(0);
        
    }
}