:root {
    --dark-green: #02786a;
    --dark-green-hover: #29a899;
    --light-green: #d0fbf6;
    --very-light-green: #ebfbfa;
}

html,body{
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 100%;
    font-family: 'Trebuchet MS'; 
}

html {
    overflow-x: hidden;
    background-color: var(--light-green);
}

header {
    position: absolute;
    background-color: transparent !important;
    left: 0;
    right: 0;
    top: 0;
}

header a {
    color: var(--dark-green);
    text-decoration: none;
    padding: 20px;
    font-size: 1.2em;
}

header a:hover {
    color:var(--dark-green-hover);
}

header .header-announcement-bar-wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 4vw;
    padding-right: 4vw;
    pointer-events: auto;
}

.header-title-nav-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 67%;
    align-items: center;
}

.header-nav {
    text-align: right;
    margin-left: auto;
    padding-left: 2vw;
}

.header-nav-list {
    display: inline-flex;
    flex-wrap: wrap;
}

.header-title-logo img {
    
    width: auto;
    max-width: 100%;
    max-height: 50px;
}



.header-display-desktop {
    
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
}

.main-section {
    padding-top: 10vw;
}

.banner {
    
    font-size: 1.2em;
    color: var(--light-green);
    background-color: var(--dark-green);
}

.banner p {
    margin: 0;
}

h1 {
    color: var(--dark-green);
    font-size: 4vw;
    margin: 10vw;
}

h2 {
    font-size: 4vw;
    color: var(--dark-green);
}

p {
    color: white;
}

.main-section-background {
    background-color: var(--light-green);
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.main-background-layer {
    background-color: rgb(208,251,246, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-section img {

    width: 100%;
    height: 100%;
    object-position: 0 -50px;
}

.content {
    width: 75%;
    margin: auto;
    text-align: center;
}

.content img {
    width: 10vw;
}

.first-section {
    font-size: 1.5em;
    background-color:var(--light-green);
    padding: 0;
    margin: 0;
    bottom: 0;
}

.second-section {
    background-color: var(--light-green);
}

.forth-section {
    overflow:hidden;
    background-color: var(--light-green);
}

.box {
    border-radius: 20px;
    margin: 2%;
    float: left;
    padding: 4%;
    max-width: 450px;
}

.size-small {
    width: 29%;
}

.size-medium {
    width: 46%;
}

.size-long {
    width: 96%;
    max-width:none;
    display: flex;
    align-items: center;
}

.size-long p {
    margin-left: 10%;
}


@media screen and (max-width: 1000px) {
    .box h3{
        height: 44px;
    }
    .content {
        width: 85%;
    }
    .center-space {
        width: 10%;
    }
}

@media screen and (max-width: 900px) {
    .content {
        width: 98%;
    }
    .center-space {
        width: 2%;
    }
}

@media screen and (max-width: 270px) {
    .about img {
        width: 100%;
        position: relative;
    }
}

.contact, .about{
    background-color: var(--light-green);
}

.contact p, .contact a{
    color: var(--dark-green);
    padding: 10px;
    font-size: 1em;
}

.about p {
    color: var(--dark-green);
    text-align:justify;
}

.about img {
    width: 30vw;
    float: left;
    margin-right: 2vw;
    margin-bottom: 2vw;
    max-width: 310px;
    min-width: 150px;
}

.inner-content {
    margin: 3%;
    min-height: 420px;
}

.about .content-align-right {
    width: 80%;
    padding-top: 1.5em;
}

.content-wrapper {
    height: 18vw;
}

* {
    box-sizing: border-box;
}

.bullet-point {
    display:list-item;
    list-style-type:disc; 
    list-style-position:inside;
    height: 40px;
}

.bright-green {
    background-color: rgb(41, 168, 68, 0.7);
    color: #fff;
}

.blue-green {
    background-color: rgb(41, 168, 153, 0.7);
    color: #fff;
}

.blue {
    background-color: rgb(41, 98, 168 , 0.7);
    color: #fff;
}

.mustard {
    background-color: rgb(168, 153, 41 , 0.7);
    color: #fff;
}

.ugly-green {
    background-color: rgb(98, 168, 41 , 0.7);
    color: #fff;
}

.purple {
    background-color: rgb(68, 41, 168 , 0.7);
    color: #fff;
}

.pink {
    background-color: rgb(153, 41, 168 , 0.7);
    color: #fff;
}

.button {
    padding: 10px;
    max-width: 80px;
    background-color: var(--dark-green);
    border-radius: 40px;
    color: #fff;
    text-align: center;
    font-size: small;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin:auto;
  }

.vertical-column:after {
    content: "";
    display: table;
    clear: both;
    
}


footer {
    margin: 0;
    color: white;
    font-size: 1.8em;
    background-color: var(--dark-green);
}


.fa {
    position: relative;
    top: -160%;
    padding: 20px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20px;
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.seperate-content {
    display: flex;
}

.center-space {
    width: 20%;
}
    
.content-align-left {
    width: 30%;
}

.content-align-right {
    width: 50%;
    font-size: 20px;
}

label {
    float: left;
    padding-left: 10px;
    color: var(--dark-green);
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 20px;
}

button[type=submit] {
    background-color: var(--dark-green);
    color: var(--light-green);
    padding: 12px 20px;
    border-color: transparent;
    cursor: pointer;
    border-radius: 20px;
    float: left;
    font-size: small;
    width: 110px;
}

button[type=submit]:hover * {
    color: var(--dark-green);
    
}

button[type=submit] p{
    padding: 0;
    margin: 0;
    color: var(--light-green);
}


.c-btn {
    background-color: var(--dark-green);
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--light-green);
    float: left;
    margin-top: 40px;
    text-decoration: none;
    font-size: small;
}

.c-btn:hover, button[type=submit]:hover  {
    color: var(--dark-green);
    background-color: var(--light-green);
    border: 2px solid var(--dark-green)
}

.padding-top {
    padding-top: 5%;
}


.spinner {
    margin: 0;
    width: 70px;
    text-align: center;
    display: none;
}
  
  .spinner > div {
    width: 10px;
    height: 10px;
    background-color: var(--light-green);
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }  

  .block {
    opacity: 0;
    transition: opacity .5s .25s ease-out;
  }
  
  .block.is-visible {
    opacity: 1;
  }

  .block {
    transform: translate(-50%, calc(-50% + 1em));
  }

  .animation-arrows  {
    position: relative;
  }

  .animation-arrows span {
    position: absolute;
    top: -70px;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-left: -12px;
    border-left: 2px solid var(--dark-green-hover);
    border-bottom: 2px solid var(--dark-green-hover);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 4s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  .animation-arrows span:nth-of-type(1) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  .animation-arrows span:nth-of-type(2) {
    top: -86px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  .animation-arrows span:nth-of-type(3) {
    top: -102px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }